h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 45px;
}

p, a, ul, li {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

a {
  color:blue;
}