.index-page {
  text-align: center;
  margin: 0 auto;
  margin-left: 50px;
  margin-right: 50px;
  a {
    text-decoration: none;
  }

  h2 {
    margin-bottom: 30px;
    font-family: 'Dosis';
    font-weight: 400;
    font-size: 50px;
  }
}
