.questionnaire {
  margin: 0 auto;
  text-align: center;

  h2 {
    font-family: 'Dosis';
  }

  input .qn {
    margin-left: 5px;
  }
}

#questionnaire {
  p {
    font-size: 15px;
    margin-top: 30px;
  }
}