-# SIGNIN/ LOGIN LINKS
.registration
  %button.btn.btn-default.btn-lg
    = link_to('login', new_user_session_path)
  %button.btn.btn-default.btn-lg
    = link_to('register', new_user_registration_path)

  %div#blank-space